<h1>New post</h1>

<%= form_for @post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br />

  <%= f.label :content %>
  <%= f.text_field :content %> <br />

  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  
 <%= f.submit %>
<% end %>
